/* http://www.colorzilla.com/gradient-editor/ */
*{
      transition: max-height linear 1s;
      transition: width linear 1s;
}

h1 {
    font-size: 3.4em;
    line-height: 1.1em;
    text-transform:uppercase;
    font-weight:bold
}

h2 {
    text-align:left;
    font-size:2.0em;
}


h3 {
    text-align:left;
    font-size:1.1em;
    line-height:1.1em;
    padding-bottom: 10px;
}


.panel_beyond h2{
    text-align:right;
    font-size:2.1em
}
.row p {
    font-size:1.4em;
    line-height:1.2em		
}

#header{
    background: #207cca; /* Old browsers */
    border-bottom: 1px solid #2F53A7;
}
#header *{color:whitesmoke;
          text-align: center;}
#anime{
    background: url("../images/united_in_diversity.png") no-repeat scroll 50% 50% #DDDDDD;
    border-bottom: 2px solid rgba(0,0,0,0.75);
    border-top: 3px solid rgba(0,0,0,0.79);
    border:0px;
    height:380px;
}

.bulletpoints .btn.active, .bulletpoints .btn:hover, .bulletpoints .btn:active {
  background: #a6a6a6;
}

.btn-support {
    text-align: right;
    margin: 8px;
}

    #anime {color: #000;}
    #anime .row{position: relative;}
    
    #anime .bulletpoints a {
        color:#010014;
        display: block;
        font-size: 1.4em;
        text-transform:uppercase;
        margin: 28px 0px;
        padding: 10px;
    }
    
    #anime .anime_display {
        background:transparent;
        color:#FBFBFD;
        min-height: 300px;
        text-shadow: none;
        width: 477px;
        z-index: 2;
        border:0px;
    }
    #anime_text{
        width:280px;
        text-align:justify;
    }
    #anime_figure{
        float:right;
        height:300px;
        width:120px;
        background:transparent no-repeat center bottom ;
    }

/* vinci's version : using hide/show and not html copying */
    .animed {
        background: none repeat scroll 0 0 #DDDDDD;
        display: none;
        height: 400px;
        margin-top: -10px;
    }

    .animer_text, .animel_text {
	COLOR:#000;
	padding-top: 60px;
        text-align:justify;
	font-size: 1.2em;
        line-height:1.4em
    }

    .animel_text{
        width: 260px;
        line-height: 1.4em;
        line-break: loose;
        padding-left: 17px;
    }
    .animel_text a {
        font-weight: bold;
        text-decoration: none;
	font-color: #FF0000;
    }
    .animel_text a:hover, .animel_text a:active, .animer_text a:hover, .animer_text a:active {
	border-bottom: 1px solid #000;
	text-decoration: none;
    }
    .animel_figure{
        float:right;
        background:transparent no-repeat center bottom ;
        padding-right:10px;
    }
    .animer_text{
        width: 245px;
        padding-left: 220px;
   }
   
   .animer_text a{
   	font-weight: bold;
   }

   .animer_figure{
        padding-left: 8px;
        float:left;
        background:transparent no-repeat center bottom ;
    }

    
    #anime .panel_acta{
        text-align: right;
    }
    
#progress{
    background: #1477c9; /* Old browsers */
    border-bottom: 2px solid #21335E;
    border-top:1px solid #8FA7DF;
}
#progress *{
    color:whitesmoke;
}
#progress_bar .ui-widget-header {
    background: red;
}
/* elements associated to donation form */    
#support{
    background: none repeat scroll 0 0 #DDD;
    border-bottom:2px solid #FDFDFB;
    border-top:2px solid #FDFDFB;
}
.donations{padding:10px 0; padding-top: 0px;}
#support label{display:inline;}
.giftContainer{
    margin: 30px 5px;
    padding: 10px 20px;
}
.donations .amounts_holder {
    width: 55px;
    height:20px;
    padding: 20px 0 20px 0;
}
.donations .badfield {
    border: 1px solid #f55;
}
.donations .error {
    margin: 5px 17px;
    color: #f00;    
    border: 1px solid #f55;
    background: #fdd;
    padding: 5px;
}
.donations .information {
    margin: 5px 17px;
    color: #0a0;    
    border: 1px solid #5f5;
    background: #dfd;
    padding: 5px;
}
.donations p {
    padding: 0;
    margin: 8px 0 0 0;
}

.donations .othersum{
    width: 105px;
}
.donations .othersum input{
    font-size: 9pt;
    margin: 0;
    padding: 0;
    width: 32px;
}

.donations .largeinput  {
    width: 330px;
}

.donations .checkbox_holder {
    padding: 6px 0 6px 0;
    margin-left: 22px;
}
/*
#facts{
    border-bottom:1px solid hsl(56,66%,98%);
    border-top:3px solid hsl(56, 20%, 68%);
    background: hsl(56, 33%, 68%);
}
*/
#share{
    background:none repeat scroll 0 0 #060B18;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    border-top: 3px solid rgba(0,0,0,0.6);
}
    #share *{color: hsl(222, 5%, 96%);}

.container-wrapper{padding:10px 0;}
li{list-style: none;}
* label{display:inline;}
.faq{}
#blockfaqsoutien h4{font-size: 10pt;}
.progress_indices{position:relative;}
    .progress_indices .steps{position: relative;}
    .progress_indices .step{display:inline-block;width:24%}
    .progress_indices .step.step_l{position:absolute;right: 0px;;text-align:right;}
    .progress_indices .marks div{float:left;width:33.33%;}
    .progress_indices .marks .start{}
    .progress_indices .marks .middle{text-align:center;}
    .progress_indices .marks .end{float:right;text-align:right;}

.sum {
  display:inline;
  margin-right:15px;
}

.donvalist {
  background:green;
  margin-left:0px;
}

.predef {
    padding-top: 10px 0 10px 0;
    margin: 0;
}


#noscript{
    background:red;
    color:whitesmoke;
}

.lien-faq{
    text-decoration:none;
    font-weight:bold;
}

.lien-faq:hover{
    text-decoration:none;
    font-weight:bold;
    color:red;
}

.lien-faq:visited{
    text-decoration:none;
    font-weight:bold;
}
