<?php

/* Configuration file for 2012 Campaign manager */
define("SYSADMIN","email@example.com");
define("FDNNURL1","https://secure.bank/url");
define("FDNNURL2","https://secure.bank/url2");
mysql_connect("localhost","login","password");
mysql_select_db("dbname");



?>